	<div class="message_wrapper">
		<div class="message_delete"><%= link_to '', messages_path, 
        	class: "fa fa-times message_cancel", id: "message_cancel_#{@message.parent.id}", 
        	alt: "Cancel message", title: "Cancel message" %></div>

<%= render 'form' %>

	</div>

