          <div id="body_history" class="body_column one_hundred">
            <div class="column_header">Editing Meeting Type</div>
            <div class="body_column_content">
<

<%= render 'form' %>

<%= link_to 'Back', meeting_types_path %>
			</div>
		</div>