/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * fa-snowflake-o
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require font-awesome
 *
 * Arial, Helvetica, sans-serif
 * 'Helvetica Neue', Helvetica, sans-serif
 * "Lucida Sans Unicode", "Lucida Grande", sans-serif
 * 
 */
body {
  padding: 0;
  margin: 0;
  background: #9ca4ab;
  color: white;
  font: 9pt 'Nunito', sans-serif;
}
#main {
  height: auto;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
#header{
  height: 56px;
  width: 1180px;
  color: #ffffff;
  display: flex;
}
#header a {
	color: white;
}
#head_logo {
  background: #22272d;
  font-style: italic;
  font-weight: bold;
  width: 140px;
  height: inherit;
  line-height: 56px;
  text-align: center;
}
#head_back_btn {
  background: #2e3e52;
  font-weight: bold;
  font-size: 9pt;
  width: 56px;
  line-height: 56px;
  text-align: center;
}
#head_menu {
  background: #3c5168;
  height: inherit;
  flex-grow: 1;
  display: flex;
}
#head_menu_main {
  width: 768px;
  height: inherit;
  vertical-align: middle;
}
.top_menu_item {
  font-weight: bold;
  font-size: 9pt;
  line-height: 56px;
  align-content: center;
  padding-left: 30px;
  width: 70px;
  float: left;
}
#head_login {
  font-size: 8pt;
  width: 214px;
  height: inherit;
  line-height: 56px;
}
#hello_member {
  float: right;
}
.seperator {
  float: right;
  padding: 0px 5px 0px 5px;
}
#logout {
  color: #4bd3ea !important;
  font-style: italic;
  font-size: 8pt;
  width: 60px;
  line-height: 56px;
  float: right;
  margin: 0px 12px 0px 0px;
}
#logout a {
  color: #4bd3ea !important;
}
#logout img {
  width: 14px;
  margin: 0px 2px 1px 0px;
  vertical-align: middle;
}
#body {
  width: 1180px;
  height: 100%;
  display: flex;
}
#notice {
  display: none; 
  min-height: 60px;
  background: #27B3D5;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 4px;
}
#notice p {
  margin: 8px;
}
#notice .one_hundred i {
  float: right;
  font-size: 10pt;
  color: white;
  cursor: pointer;
}
#body_left_col {
  width: 196px;
  background: #3d3f44;
  padding: 20px;
  box-sizing: border-box;
}
#body_main_col {
  height: inherit;
  flex-grow: 1;
  background: #2d2c2c;
  float: right;
  min-height: 500px;
  padding: 8px;
}
#body_center_col {
  width: 766px;
  float: left;
  height: inherit;
  box-sizing: border-box;
  padding-right: 8px;
}
#profile_row_one {
  float: left;
}
#body_right_col {
  width: 202px;
  box-sizing: border-box;
  height: inherit;
  float: left;
}
.right_col_btn {
  background: #0f6597;
  margin-bottom: 8px;
  width: 100%;
  height: 40px;
}
.body_column {
  margin-bottom: 8px;
  float: left;
}
.body_column_left {
  margin-right: 7px;
}
.one_hundred {
  width: 100%;
}
.column_header {
  font-style: italic;
  font-size: 8pt;
  color: white;
  padding-left: 20px;
  line-height: 48px;
  background: #303b49;
  float: left;
  box-sizing: border-box;
  width: inherit;
}
.body_column_content {
  background: #e5e6e7;
  min-height: 100px;
  padding: 0px 20px 20px 20px;
  float: left;
  box-sizing: border-box;
  width: inherit;
}

#body_right_col .body_column_content {
  background: #3d3f44;
}
#body_main_col .body_column_content {
  font-style: italic;
  font-size: 7pt; 

}
#body_essentials {
  width: 299px;
  float: left;
}
#body_essentials .body_column_content {
  padding-top: 4px;
}
#body_essentials p {
  color: #7d7f84;
  border-bottom: 1px solid;
  padding: 4px 0px 6px 0px;
  font-style: italic;
  font-weight: bold;
  font-size: 6pt; 
  width: 100%; 
  min-height: 14px;
}
#body_essentials p .candidate_info {
  color: #3d3f44;
  margin-left: 100px;
  display: block;
  font-style: italic;
  font-weight: bold;
  font-size: 7pt;
}
#body_essentials p em {
  position: absolute;
}
#body_notes {
  width: 452px;
  float: left;
  box-sizing: border-box;
}
#body_notes strong {
  margin-bottom: 10px;
  float:left;
  font-style: italic;
  font-weight: bold;
  font-size: 7.5pt;
  color: #5d5f64;
}
#candidate_header {
  width: 100%;
  background: #303b49;
  color: white;
  font-size: 7pt;
  display: flex;
}
#candidate_photo {
  background: white;
  width: 124px;
  height: 124px;
}
#candidate_quick_bio {
  line-height: 124px;
  vertical-align: middle;
  position: relative;
  flex-grow: 1;
}
#candidate_quick_bio_inner {
  line-height: normal;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
#candidate_quick_bio_inner p {
  margin: 1px;
}
#candidate_name {
  font-weight: bold;
  font-size: 16pt;
}
#candidate_head_history {
  width: 240px;
  font-style: italic;
  display: flex;
  position: relative;
}
#candidate_head_history_inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.cand_header_right {
  width: 50px;
  margin: 0px 30px 0px 0px;
  text-align: center;
  float: right;
}
#cand_head_flags {
  padding: 0 10px 0 10px;
  width: 30px;
}
#cand_head_red_flag {
  box-sizing: border-box;
  padding: 0 8px 0 8px;
}
.chr_number {
  font-weight: bold;
  font-size: 12pt;
}
.cand_header_right img {
  margin: 2px auto 0px auto;
  width: 18px;
  display: block;
}
.left_title {
  color: #2783c5;
  font-style: italic;
  font-size: 10pt;
}
#body_left_col .body_column ul, #body_left_col .body_column ol {
  color: #a5a6a7;
  font-size: 7pt;
  padding: 0;
  list-style-position: inside;
}
#body_left_col .body_column ul {
  font-size: 8pt;
  list-style-type: none;
}
#body_left_col .body_column li {
  margin-bottom: 8px;
}
#candidate_form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.field {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  margin-right: 18px;
  color: #22272D;
}
#body_register {
  width: 500px;
}
#body_register .column_header a {
  float: right;
  padding-right: 14px;
  line-height: 48px;
}
#body_register .body_column_content {
  padding-top: 10px;
}
.body_column_content th, .body_column_content td {
  font-size: 6pt;
  color: #3d3f44;
  padding: 1px 18px 1px 0px;
}
.body_column_content th {
  font-weight: bold;
}
.column_header .edit {
  float: right;
  margin-right: 20px;
}
#note_content_div {
  width: 264px;
  float: left;
}
.note_content_textarea {
  width: 260px;
  float: left;
}
#body_notes .body_column_content, #body_notes .body_column_content #new_note_div {
  float: left;
  box-sizing: border-box;
}
#new_note_div {
  padding-top: 10px;
}
#note_content {
  width: inherit;
}
#note_type {
  width: 110px;
  float: left;
}
#note_type input {
}
#new_note .actions {
  display: block;
  width: inherit;
  float: left;
}
#new_note .actions input, #new_note .actions button {
  float: right;
}
#note_history {
  float:left;
  font-weight: bold;
  padding-bottom: 10px;
}
#note_types .note_type {
  color: #5d5f64;
  float: left;
  padding: 1px 20px 1px 0px;
}
#note_types .note_type i {
  font-size: 1.4em;
  padding-right: 4px;
}
#past_notes {
  overflow: auto;
  height: 226px;
  float: left;
  margin-top: 10px;
  background: white;
  color: black;
  padding: 12px;
  box-sizing: border-box;
}
.past_note_item, .note_type_icon, .note_content, .note_actions {
  float:left;
}
.note_type_icon {
  width: 40px;
  font-size: 14pt;
}
.note_content {
  width: 270px;
  padding: 0px 5px 12px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.note_actions {
  width: 60px;
}
.past_note_item {
  width: 100%;
  margin: 0 0 10px 0;
}
.note_entered_by {
  color: #c1c4ca;
  font-size: 6pt;
  margin-top: 6px;
}
button, .new_button {
  color: white;
  background: #27b3d5;
  border: none;
  font-weight: bold;
  font-size: 7pt;
  padding: 6px 12px 6px 12px;
  min-height: 22px;
  margin: 5px 0px 0px 5px;
}

button[type="reset"] {
  background: grey;
  padding-top: 4px;
}
#note_history strong {
  display: block;
  width: 100%;
}
#note_type .note_type_buttons {
  float:left;
  width: inherit;
  line-height: 16pt;
  color: #5d5f64;
}
#note_type .note_type_buttons i {
  font-size: 1.1em;
  padding: 0 3px 0 2px;
}
input[type=radio] {
    width: 7pt;
    height: 7pt;
}
#country-search-results {
  position: absolute;
  z-index: 999;
}
#state-search-results {
  position: absolute;
  z-index: 998;  
}

.results .ui-widget-content {
  background: #fff;
  font-size: 9pt;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  overflow: hidden;
  overflow-y: auto;
}

.results .ui-menu-item {
  padding: .4em .6em .4em .2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
}
#types_table {
}
#types_table .body_column_content th, #types_table .body_column_content td {
  font-weight: bold;
  font-size: 10pt;
  margin: 3px;
  padding: 3px 10px 3px 10px;
  border-bottom: 1px solid #5D5F64;
  text-align: left;
}
#types_table .body_column_content, #types_table .body_column_content {
  padding-top: 16px;
}
#types_table .fa, #types_table .fa {
  color: #67698a;
}
#types_table i.fa, #types_table i.fa {
  font-size: 14pt;
}
.note_actions a {
  font-size: 10pt;
  color: #7d7f84;
  text-decoration: none;
  margin-left: 8px;
}
.fa {
  text-decoration: none;	
}
.column_header .edit a.fa {
  font-size: 1.2em;
  color: white;
}
.button_group {
  width: 236px;
}
.availability_type_button {
  width: 104px;
  height: 26px;
  color: white;
  font-size: 7pt;
  padding-top: 8px;
  box-sizing: border-box;
  text-align: center;
  margin: 3px 6px 3px 0px;
  float: left;
  cursor: pointer;
}
.availability_type_button i.fa {
  margin-right: 3px;
}
#new_availability .start_date, #new_availability .end_date {
  float: left;
  width: 105px;
  line-height: 16px;
  margin-right: 8px;
}
#availability_comment {
  width: 210px;
  height: 60px;
}
#new_availability .start_end_date, #new_availability .comment {
  float: left;
  width: 100%;
}
#ui-datepicker-div {
  width: 190px;
}
#start_end_date i.fa {
    width: 20px;
    height: 14px;
    font-size: 16px;
    color: #CCCCCC;
    z-index: 38;
    position: relative;
	top: -19px;
    left: 86px;
}
#start_end_date input {
  width: 100px;
  margin-right: 6px;
}
#new_availability .actions {
  float: left;
  width: 100%;
}
#new_availability_div {
  width: 250px;
  float: left;
}
#new_availability_div .one_hundred, #new_availability_div .button_group {
  float: left;
}
.availability_header {
  padding: 20px 0px 6px 0px;
  color: #5d5f64;
  float: left;
  width: 100%;
}
#availabilities_list_div {
  float: left;
}
.availability_item {
  color: #000000;
  padding: 4px 0px 4px 0px;
}
.availability_item i {
  color: #FFFFFF;
  font-size: 7pt;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  box-sizing: border-box;
}
.availability_item .availability_comment {
  color: #aaaaaa;
}
#start_end_date {
  width: 100%;
  float: left;
}

#list_members .body_column_content th, #list_members .body_column_content td {
	font-size: 7.5pt;
	text-align: left;
	padding: 8px 20px 8px 0px;
	overflow: hidden;
	border-bottom: 1px solid #aaa;
}
#list_members .body_column_content th {
	padding-top: 20px;
}
#list_members .body_column_content td a {
	margin-right: 8px;
	font-size: 9pt;
	line-height: 11pt;
}
#list_members .body_column_content td .delete {
  margin-right: 0px;
}
#list_members .body_column_content .form_action_links {
  padding: 8px 0px 8px 0px;
  width: 52px;
  box-sizing: border-box;
}
#notice p {
  font-size: 12pt;
  color: white;
}
.form_group {
  float: left;
  border-bottom: 1px solid #aaa;
  width: 100%;
  margin-bottom: 10px;
}
.member_form_section {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: inherit;
}
.member_form_section textarea {
	width: 220px;
	height: 60px;
}
.save_button {
  line-height: 14pt;
  padding: 4px 8px 4px 8px;
  background: #0f6597;
  color: white;
  margin: 8px 0px 10px 0px;
}
#member_form_foot {
	text-align: right;
	width: 100%;
}
#member_form_foot .field {
	margin: 0;
	padding: 0;
}
#admin_action_list .body_column_content {
	padding: 40px;
}
.admin_action {
	font-size: 12pt;
	padding-bottom: 10px;
}
.ui-helper-hidden-accessible { 
	position: absolute; left:-999em; 
}
#messages_thread {
	width: 300px;
	background: white;
	padding: 8px;
	margin: 10px;
}
.message_wrapper {
	width: inherit;
	box-sizing: border-box;
	color: #5d5f64;
	border-bottom: 1px solid #C0C0C0;
}
.message_wrapper div {
	width: inherit;
	display: block;
	padding: 2px;
}
.message_wrapper .to_from {
	width: 34px;
	display: inline-block;
	margin-right: 4px;
	border-bottom: 1px solid #CCCCCC;
}
.message_wrapper .message_from {
	padding-bottom: 8px;	
}
.message_wrapper .message_delete, .message_wrapper .message_delete a {
	text-align: right;
	color: #CCCCCC;
}
.message_wrapper .message_reply_btn, .message_wrapper .message_reply_btn a, .message_wrapper .actions {
	text-align: right;
	color: #61BA74;
}
.message_wrapper textarea {
	width: 100%;
	height: 60px;
	box-sizing: border-box;
}
.message_reply .message_form_to {
	display: none;
}
.message_reply {
	display: none;
}
.message_indent {
	margin-left: 10px;
	border-left: 1px solid #cccccc;
}
