          <div id="body_history" class="body_column one_hundred">
            <div class="column_header">New Note Type</div>
            <div class="body_column_content">

<%= render 'form' %>

<%= link_to 'Back', note_types_path %>

			</div>
		</div>
