
          <div id="body_register" class="body_column">
            <div class="column_header">
            	Editing Availability Type
            	<%= link_to '', availability_types_path, class: "fa fa-times", alt: "Close", title: "Close" %>
            </div>
            <div class="body_column_content" id="availability_types_form">

<%= render 'form' %>

			</div>
          </div>
