        <div id="head_menu_main">
          <div class="top_menu_item">
            Search
          </div>
          <div class="top_menu_item">
            Create
          </div>
          <div class="top_menu_item">
            Reports
          </div>
        </div>
        <div id="head_login">
          <div id="logout"><img src="logout-pwr.png"/>Logout</div>
          <div class="seperator">|</div>
          <div id="hello_member">Hello <%=@member.first_name%></div>
        </div>
