        <div id="head_menu_main">
          <div class="top_menu_item">
            Search
          </div>
          <div class="top_menu_item">
            Create
          </div>
          <div class="top_menu_item">
            Reports
          </div>
          <div class="top_menu_item">
            <a href="/admin" >Admin</a>
          </div>
        </div>
        <div id="head_login">
          <div id="logout"><%= link_to logout_path do %><%= image_tag "logout-pwr" %> Logout<% end %>  </div>
          <div class="seperator">|</div>
          <div id="hello_member">Hello <%=@current_user.first_name unless @current_user == nil%></div>
        </div>
