          <div id="body_availability" class="body_column one_hundred">
            <div class="column_header">Availability
            	<div class="edit"><%= link_to '', new_availability_path, class: "fa fa-pencil" %></div>
            </div>
            <div class="body_column_content">
            	
            	<div id="new_availability_div">
        		</div>
            	<div id="availabilities_list_div">
        		</div>
            	
            </div>
          </div>
        <script>
        $(document).ready(function(){
		    $( "#new_availability_div" ).load( "/availabilities/new" );
		$( document ).ajaxComplete(function( event, request, settings ) {
	    	$("#availability_member_id").val(<%=@member.id%>);				    	
			$( ".availability_type_button" ).click(function(e) {
			    var url = $('#new_availability').attr("action");
				var method = $('#new_availability').attr("method");
				var id = $(this).attr('id');
				$('#availability_availability_type_id').val(id);

			    $.ajax({
		           type: method,
		           url: url,
		           dataType : 'JSON',
		           data: $("#new_availability").serialize(), 
		           success: function(data) {
		             $("#new_availability")[0].reset();
		             load_availabilities();
		           },
		           error: function(data) {
					 var jsonPretty = JSON.stringify(data, null, '\t');
		           	 //alert(jsonPretty);
		           	 var errorMsg = "";
		           	 $.each( data.responseJSON, function( key, value ) {
					   errorMsg += key + " " + value +"\n";
					 });
					 alert(errorMsg);
		           }
		         });
		        e.preventDefault();
				return false;		         
			});
		});
			
		});
		function load_availabilities() {
			$( "#availabilities_list_div" ).load( "/members/" + <%= @member.id %> + "/availabilities" );
		}
		</script>
		


