          <div id="body_notes" class="body_column">
            <div class="column_header">Notes</div>
            <div class="body_column_content">
            	<div id="new_note_div">
	            <script>

				</script>
				</div>
				<div id="note_history"></div>
			</div>
          </div>
